### TextMate template
*.tmproj
*.tmproject
tmtags
.idea

# Created by .ignore support plugin (hsz.mobi)
gson-2.4.jar
gson-2.3.1-javadoc.jar
gson-2.3.1-sources.jar
bridge-server-descriptors-2015-11_original.json


# tomlurge
/bin
/lib
/out
/src/in
/src/org

todo.md
